.DS_Store

/build/
/test/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

compile_commands.json

test/

.vscode/

.clangd

.venv/
__pycache__/
*.py[cod]
.pytest_cache/

dist/
build/
*.egg-info/

*~
*.swp

.commitlintrc

.cache/